<div class="sidebar">
    <span class="sidebartextsection">
        <form action="/search" method="GET" style="width: 100%;">
            <input name="q" type="text" class="input" placeholder="Search <%= name %>"
                style="width: 90%;margin-bottom: 8px;margin:auto;display: block;">
        </form>
        <br>
        <span id="thelatestcontainer">
            <button class="sidebarbutton" style="text-align: left;border-radius: 10px;">
                The Latest
                <br><br>
                <div class="expandcommentdiv sidebarcontainer latest" style="width: 95%;display: block;margin: auto;">

                </div>
            </button>
        </span>
        <span id="thelatestcontainer">
            <button class="sidebarbutton" style="text-align: left;border-radius: 10px;">
                <span onclick="url('/boards/explore')" style="cursor: pointer;">
                    Insides
                </span>
                <br><br>
                <div class="expandcommentdiv sidebarcontainer boards" style="width: 95%;display: block;margin: auto;">

                </div>
            </button>
        </span>
        <br>

        <p class="sidetext smalltext">
            &copy; 2020
            <a class="navfooanoleftpad" href="/company">
                <%= name %>
            </a>
            •
            <a class="navfooanoleftpad" href="/company/contact">
                Contact
            </a>
            •
            <a class="navfooanoleftpad" href="/account/developer/home">
                Developer
            </a>
            <!--•
            <a class="navfooanoleftpad" href="/account/developer/docs">
                Contact
            </a>-->
            •
            <button class="versionlink smalltext" onclick="window.location.href='/company/releases'">
                Beta V<span id="version"></span>
            </button><br><br>
            <span class="navfooanoleftpad">
                Icons by <a class="navfooanoleftpad" href="https://lineicons.com/" target="_blank">LineIcons</a>
            </span>
        </p><br><br><br>
    </span>
</div>
<div class="mobile">
    <div class="mobilesearch">
        <form action="/search" method="GET" style="width: 100%;">
            <input name="q" type="text" class="input left" placeholder="Search <%= name %>"
                style="width: 79%;margin-bottom: 8px;margin:auto;display: block;">
            <button style="width: 20%;margin-bottom: 8px;margin:auto;display: block;" type="submit"
                class="button right"><i class="lni lni-search-alt"></i></button>
        </form>
    </div>
</div>
<script>
    showlatestposts('latest')
    showboards('boards')
</script>
<div class="sidebarleft">
    <span class="sidebartextsection">
        <% if(loggedin == true) { %>
        <button class="sidebarbutton" onclick="url('/notifications')"><i class="lni lni-alarm"></i></button>
        <button class="sidebarbutton" onclick="url('/latest')"><i class="lni lni-alarm-clock"></i></button>
        <% } else if(loggedin == false) { %>
        <button class="sidebarbutton" onclick="url('/latest')"><i class="lni lni-alarm-clock"></i></button>
        <button class="sidebarbutton" onclick="url('/boards/explore')"><i class="fa text">Boards</i></button>
        <button class="sidebarbutton" onclick="url('/login')"><i class="lni lni-arrow-right-circle"></i></button>
        <button class="sidebarbutton" onclick="url('/signup')"><i class="lni lni-circle-plus"></i></button>
        <% } %>
        <% if(moderator == true) { %>
        <button class="sidebarbutton" onclick="url('/mod')"><i class="lni lni-ban"></i></button>
        <% } %>
        <button class="sidebarbutton" onclick="showmenu('show')" id="showmenu"><i class="lni lni-menu"></i></button>
        <span id="premiumsidebar"></span><br><br><br><br>
        <span class="sidebarleftbottom">
            <% if(loggedin == true) { %>
            <button class="sidebarbutton profileclick" style="padding: 5px;" type="button">
                <img width="40px" src="/account/pfp" class="">
            </button>
            <button class="sidebarbutton" id="leftmenusection">
                <span class="">
                    <% if(loggedin == true) { %>
                    <a class="button linkbutton " href='javascript:newPost("show")'><i class="fa text">New
                            Post</i></a><br><br>
                    <a class="button linkbutton" href='/b/insides'><i class="fa text">Joined Insides</i></a><br><br>
                    <a class="button linkbutton" href='javascript:messages("open")'><i
                            class="fa text">Messages</i></a><br><br>
                    <a class="button linkbutton" href='/account/edit'><i class="fa text">Settings</i></a><br><br>
                    <a class="button linkbutton" href='/account'><i class="fa text">Account</i></a><br><br>
                    <a class="button linkbutton" href='/logout'><i class="fa text">Logout</i></a><br>
                    <% } %>
                </span>
            </button>
            <% } %>
        </span>
    </span>
</div>

<div class="sidebar sidebarextension hidden" id="sidebarext">
    <form action="/search" method="GET"
        style="width: 90%;margin-left: auto;margin-right: auto;display: block;padding: 5px;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>" style="width: 80%;">
        <button class="button" type="submit"><i class="lni lni-search-alt"></i></button>
    </form>
    <br>
    <button onclick='showmenu("hide")' class="button">Close Menu</button>
    <br><br>
    <span class="">
        <a href="/home">Home</a><br>
        <% if(loggedin == true) { %>
        <a href="/account/edit">Settings</a><br>
        <a href="/logout">Logout</a><br>
        <% } else if(loggedin == false) { %>
        <a href="/login">Login</a><br>
        <a href="/signup">Register</a><br>
        <% } %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <a href="/company/bugs">Report a Bug</a><br>
        <a href="/company">Company</a><br>
        <a href="/company/tos">Terms of Service</a><br>
        <a href="/company/pp">Privacy Policy</a><br>
        <span id="premiumsidebarext"></span><br><br>
        <button class="sidebarbutton" style="text-align: left;border-radius: 10px;width: 60%;">
            The Latest
            <br><br>
            <div class="expandcommentdiv sidebarcontainer latest" style="width: 95%;display: block;margin: auto;">

            </div>
        </button>
        <br>
        <button class="sidebarbutton" style="text-align: left;border-radius: 10px;width: 60%;">
            Insides
            <br><br>
            <div class="expandcommentdiv sidebarcontainer boards" style="width: 95%;display: block;margin: auto;">

            </div>
        </button>
        <span>
            <p class="sidetext">
                &copy; 2020 to Present, <a class="navfooanoleftpad" href="/company"><%= name %></a>
            </p>
        </span>
    </span>
</div>