<div id="posts">
    <% for(var i = 0; i < posts.length; i++) { %>
    <div class="postcontainer">
        <div class="postdiv">
            <% if(posts[i].sensitive == true) { %>
            <div class="sensitivepost" style="cursor: pointer;" onclick="window.location='/s/<%= posts[i]._id %>'">
                <span class="postownerlink">This post contains edgy material, click to view at your own
                    risk. A moderator has approved it.</span>
            </div>
            <% } else { %>
            <div style="cursor: pointer;" onclick="window.location='/s/<%= posts[i]._id %>'">
                <% if (posts[i].approved == true) { %>
                <span class="commentsmeta right">
                    <button type="button" class="postreport button"
                        title="A moderator has already approved this post, it cannot be reported again.">Approved</button>
                </span>
                <% } else { if (posts[i].reported == true) { %>
                <span class="commentsmeta right">
                    <button type="button" class="postreportbutton button">Under Review</button>
                </span>
                <% } else { %>
                <span class="commentsmeta right">
                    <button onclick="window.location='/report?post=<%= posts[i]._id %>'" type="button"
                        class="postreport button"><a class="nostyle"
                            href="/report?post=<%= posts[i]._id %>">Report</a></button>
                </span>
                <% }} %>
                <p class="postowner">
                    <a class="postownerlink" href="/account/<%= posts[i].owner %>">
                        <span id="user_<%= i.toString() %>_<%= posts[i]._id %>"></span>
                    </a>
                    <% if(posts[i].repost == 'true') { %>
                    <span class="repostbadge">Repost</span>
                    <% } else {} %>
                </p>
                <pre class="postbody" id="post_<%= posts[i]._id %>">
<%= posts[i].body %>
                </pre>
                <% if(posts[i].media == true) { %>
                <img class="postimage" id="img_<%= posts[i]._id %>" src="" loading="lazy"><br>
                <script>
                    getmedia('img_<%= posts[i]._id %>', '<%= posts[i]._id %>')
                </script><br><br>
                <% } %>
                <!--<p class="postmeta">
                    <%= posts[i].date.toLocaleString() %>
                </p>-->
            </div>
            <div class="post_bottom_buttons">
                <span class="seeallcommentsbutton">
                    <button type="button" onclick="expandcomments('<%= posts[i]._id %>')" class="button">
                        Expand
                    </button>
                </span>
                <span class="right">
                    <span class="modbuttons">
                        <% if(moderator == true) { if(posts[i].approved == true) { %>
                        <button onclick="removepost('<%= posts[i]._id %>')" type="button" class="button">Mod:
                            Remove
                            Post</button>
                        <% } else { %>
                        <button onclick=" removepost('<%= posts[i]._id %>')" type="button" class="button">Mod:
                            Remove
                            Post</button>
                        <button onclick=" approvepost('<%= posts[i]._id %>')" type="button" class="button">Mod:
                            Approve
                            Post</button>

                        <% }} %>
                    </span>
                    <button
                        onclick="window.location='/account/new?text=<%- encodeURIComponent(posts[i].body) %>&repost=true'"
                        type="button" class="postrepost button">Repost</button>
                    <button onclick="share('<%= posts[i]._id %>')" type="button" class="postshare button">Share</button>
                    <span id="likebutton_<%= posts[i]._id %>">

                    </span>
                </span>
                <span class="commentsform">
                    <form action="/comment/new" method="POST" class="left">
                        <input class="postcommentinput input" name="body" type="text" style="width:63%"
                            autocomplete="off" required placeholder="Thoughts...">
                        <input name="parentid" type="text" style="width:0%" class="hidden" value="<%= posts[i]._id %>"
                            required="required">
                        <button type="submit" class="postcomment button">Comment</button>
                    </form>
                </span>
            </div>
            <span class="expandedcomments" id="expand_<%= posts[i]._id %>">

            </span>
            <% } %>
        </div>
    </div>
    <script>
        replacepostlinks('post_<%= posts[i]._id %>')
        haveiliked('likebutton_<%= posts[i]._id %>', '<%= posts[i].likes.length %>', '<%= posts[i]._id %>',
            '<%= loggedin %>')
        getusername('user_<%= i.toString() %>_<%= posts[i]._id %>', '<%= posts[i].owner %>')
    </script>
    <% } %>
</div>