<h1 class="header"><%= searchterm %></h1><br>
<a href="/search?q=<%= searchterm %>" class="header">Search posts for <i><%= searchterm %></i></a>
<br><br>
<div id="users">
    <% if(users.length == 0) { %>
    <p class="headerred">No users found for <i><%= searchterm %></i></p>
    <% } else { %>
    <% for(var i = 0; i < users.length; i++) { %>
    <div class="postcontainer">
        <div class="postdiv">
            <div style="cursor: pointer;" onclick="window.location='/account/<%= users[i]._id %>'">
                <p class="postowner">
                    <% if(users[i].displayname == "" || users[i].displayname == null || !users[i].displayname) { %>
                    <a class="postownerlink" href="/account/<%= users[i]._id %>">
                        @<%= users[i].username %>
                    </a>
                    <% } else { %>
                    <a class="postownerlink" href="/account/<%= users[i]._id %>" style="font-size: large;">
                        <%= users[i].displayname %>
                    </a><br>
                    <a class="postownerlink" href="/account/<%= users[i]._id %>">
                        @<%= users[i].username %>
                    </a>
                    <% }%>
                    <span>
                        <% if(users[i].verified == true) { %>
                        <span>
                            <img width="10px" style="padding: 0;padding-top:5px;"
                                src="https://static-cdn.siddes.com/img/icons/verified.png">
                        </span>
                        <% } %>
                        <% if(users[i].premium == true) { %>
                        <span>
                            <img width="10px" style="padding: 0;padding-top:5px;"
                                src="https://static-cdn.siddes.com/img/icons/premium.png">
                        </span>
                        <% } %>
                        <% if(users[i].developer == true) { %>
                        <span>
                            <img width="10px" style="padding: 0;padding-top:5px;"
                                src="https://static-cdn.siddes.com/img/icons/developer.png">
                        </span>
                        <% } %>
                        <% if(users[i].staff == true) { %>
                        <span>
                            <img width="10px" style="padding: 0;padding-top:5px;"
                                src="https://static-cdn.siddes.com/img/icons/staff.png">
                        </span>
                        <% } %>
                        <% if(users[i].betatester == true) { %>
                        <span>
                            <img width="10px" style="padding: 0;padding-top:5px;"
                                src="https://static-cdn.siddes.com/img/icons/beta.png">
                        </span>
                        <% } %>
                        <% if(users[i].bot == true) { %>
                        <span>Bot Account</span>
                        <% } %>
                    </span>
                    <p>
                        <a href="/<%= users[i].username %>/following">Following: <%= users[i].following.length %></a>
                    </p>
                </p>
                <p>
                    <%= users[i].description %>
                </p>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
</div>