<h1 class="header"><%= searchterm %></h1><br>
<a href="/search?q=<%= searchterm %>" class="header">Search posts for <i><%= searchterm %></i></a>
<br><br>
<div id="users">
    <% if(users.length == 0) { %>
    <p class="headerred">No users found for <i><%= searchterm %></i></p>
    <% } else { %>
    <% for(var i = 0; i < users.length; i++) { %>
    <div class="postcontainer">
        <div class="postdiv dotted" style="cursor: pointer;" onclick="window.location='/account/<%= users[i]._id %>'">
            <span class="commentsmeta right">
                <a href="/account/report?user=<%= users[i]._id %>">Report</a>
            </span>
            <% if(users[i].displayname == "") { %>
            <h2>@<a href="/account/<%= users[i]._id %>"><%= users[i].username %></a></h2>
            <% } else { %>
            <h2><span><%= users[i].displayname %></span></h2>
            <h3>@<a href="/account/<%= users[i]._id %>"><%= users[i].username %></a></h3>
            <% } %>
            <h6>
                <% if(users[i].premium == true) { %><span>Premium</span><% } %>
                <% if(users[i].developer == true) { %><span><%= name %> Developer</span><% } %>
                <% if(users[i].staff == true) { %><span><%= name %> Staff</span><% } %>
                <% if(users[i].betatester == true) { %><span>Beta Tester</span><% } %>
                <% if(users[i].bot == true) { %><span>Bot Account</span><% } %>
            </h6>
            <p><%= users[i].description %></p>
            <p>Following: <span><%= users[i].following.length %></span></p>
        </div>
    </div>
    <% } %>
    <% } %>
</div>