<link rel="stylesheet" href="/css/partials/board.css">
<div class="boardnav">
    <div class="boardinfo">
        <h3 class="noheader nobottompadmar colwhite" style="color: white;"><%= board.name %></h3>
        <% if (following == true) { %>
        <button style="margin-left: 15px" class="button" onclick="unfollowboard('<%= board._id %>')">Unfollow
            <%= board.name %></button>
        <% } else { %>
        <button style="margin-left: 15px" class="button" onclick="followboard('<%= board._id %>')">Follow
            <%= board.name %></button>
        <% } %>
        <button class="button" onclick="url('/b/<%= board.name %>/submit')">New Post in <%= board.name %></button>
        <button class="boardtag button"><%= board.topic %></button>
        </span>
        <br>
        <p class="noheader" style="color: white;"><%= board.description %></p>
    </div>
</div>
<div>
    <div class="boardposts">
        <%- include('../../partials/posts') %>
    </div>
</div>