<style>
    .postdiv {
        border: none;
    }

    .postdiv:hover {
        border: none;
    }

    body {
        width: 100%;
        position: fixed;
        bottom: 0;
        top: 0;
    }
</style>
<div class="embed" style="width:100%; top: 0;position: fixed;">
    <div class="postcontainer">
        <div class="postdiv" style="width: auto;border-bottom: none;">
            <div style="cursor: pointer;" onclick="window.location='/embed/<%= post._id %>'">
                <% if (post.approved == true) { %>
                <span class="commentsmeta right">
                    <button type="button" class="postreport button"
                        title="A moderator has already approved this post, it cannot be reported again.">Approved</button>
                </span>
                <% } else { if (post.reported == true) { %>
                <span class="commentsmeta right">
                    <button type="button" class="postreport">Under Review</button>
                </span>
                <% } else { %>
                <span class="commentsmeta right">
                    <button onclick="window.location='/report?post=<%= post._id %>'" type="button"
                        class="postreport button"><a class="nostyle"
                            href="/report?post=<%= post._id %>">Report</a></button>
                </span>
                <% }} %>
                <p class="postowner">
                    <a class="header nopadmar notoppadmar" style="padding-left: 0;" id="user_<%= post._id %>"
                        href="/account/<%= post.owner %>" target='_blank'>
                    </a><br>
                    <% if(post.repost == 'true') { %>
                    <span class="repostbadge">Repost</span>
                    <% } else {} %>
                </p>
                <p class="helvetica" id="post_<%= post._id %>">
                    <%= post.body %>
                </p>
                <% if(post.media == true) { %>
                <img class="postimage" src="/usergenerated/images/<%= post._id %>" loading="lazy"><br>
                <span><a href="/usergenerated/images/<%= post._id %>" download
                        class="postbody smalltext some_stupid _placeholder_class">Download Image</a>
                </span><br><br>
                <% } %>
                <!--<p class="postmeta">
                    <%= post.date.toLocaleString() %>
                </p>-->
            </div>
            <div class="post_bottom_buttons">
                <span class="seeallcommentsbutton">
                    <button type="button" class="button" onclick="window.location='/embed/<%= post._id %>#comments'">See
                        Comments</button>
                </span>
                <span class="right">
                    <span class="modbuttons">
                        <% if(moderator == true) { if(post.approved == true) { %>
                        <button onclick="removepost('<%= post._id %>')" type="button">Mod: Remove Post</button>
                        <% } else { %>
                        <button onclick=" removepost('<%= post._id %>')" type="button">Mod: Remove Post</button>
                        <button onclick=" approvepost('<%= post._id %>')" type="button">Mod: Approve
                            Post</button>
                        <% }} %>
                    </span>
                    <span>
                        <button onclick="window.parent.location='/s/<%= post._id %>'" target='_blank'
                            class="button">View On
                            <%= name %></button>
                    </span>
                    <span id="likebutton_<%= post._id %>">

                    </span>
                </span>
            </div>
        </div>
    </div>
    <script>
        replacepostlinks('post_<%= post._id %>')
        getusername('user_<%= post._id %>', '<%= post.owner %>')
        haveiliked('likebutton_<%= post._id %>', '<%= post.likes.length %>', '<%= post._id %>',
            '<%= loggedin %>')
    </script>
</div>