<h1 class="header">#<%= hashtag %></h1><br>
<a href="/account/search?q=<%= hashtag %>" class="button linkbutton marleft10">Users</a>
<a href="/tag/<%= hashtag %>" class="button linkbutton">Hashtags</a>
<a href="/search?q=<%= hashtag %>" class="button linkbutton">Search</i></a>
<br><br>
<div id="posts">
    <% var hashtagpage = true %>
    <% if(posts.length == 0) { %>
    <p class="headerred">No posts with <i>#<%= hashtag %></i> were found :(</p>
    <% } else { %>
    <%- include('../partials/posts') %>
    <% } %>
</div>
<div style="display: flex;justify-content: center;" class="postdiv">
    <style>
        .pagination {
            padding-left: 10px;
            padding-right: 10px;
            margin: 5px;
        }
    </style>
    <% if(page == 0) { %>
    <button onclick="window.location='/tag/<%= page-1 %>/<%= hashtag %>'" disabled
        class="button pagination">...</button>
    <% if (lastpage == true ) { %>
    <button onclick="window.location='/tag/<%= eval(page)+1 %>/<%= hashtag %>'" class="button pagination"
        disabled>...</button>
    <% } else { %>
    <button onclick="window.location='/tag/<%= eval(page)+1 %>/<%= hashtag %>'"
        class="button pagination"><%= eval(page)+2 %></button>
    <% } %>
    <% } else if (lastpage == true ) { %>
    <button onclick="window.location='/tag/<%= page-1 %>/<%= hashtag %>'" class="button pagination"><%= page %></button>
    <button onclick="window.location='/tag/<%= eval(page)+1 %>/<%= hashtag %>'" class="button pagination"
        disabled>...</button>
    <% } else { %>
    <button onclick="window.location='/tag/<%= page-1 %>/<%= hashtag %>'" class="button pagination"><%= page %></button>
    <button onclick="window.location='/tag/<%= eval(page)+1 %>/<%= hashtag %>'"
        class="button pagination"><%= eval(page)+2 %></button>
    <% } %>
</div>