<div class="postdiv">
    <br>
    <% if(moderator == true) { if(post.approved == true) { %>
    <button class="button" onclick="removepost('<%= post._id %>')" type="button">Mod: Remove Post</button>
    <% } else { %>
    <button class="button" onclick=" removepost('<%= post._id %>')" type="button">Mod: Remove Post</button>
    <button class="button" onclick=" approvepost('<%= post._id %>')" type="button">Mod: Approve Post</button>

    <% }} %>
    <% if (post.approved == true) { %>
    <span class="commentsmeta right">
        <button type="button" class="postreport button">Approved</button>
    </span>
    <% } else { if (post.reported == true) { %>
    <span class="commentsmeta right">
        <button type="button" class="postreport button">Under Review</button>
    </span>
    <% } else { %>
    <span class="commentsmeta right">
        <button onclick="window.location='/report?post=<%= post._id %>'" type="button" class="postreport button"><a
                class="nostyle" href="/report?post=<%= post._id %>">Report</a></button>
    </span>
    <% }} %>
    <h3>
        <% if(owner.displayname == "") { %>
    </h3>
    <h2>
        <a href="/<%= owner.username %>"><%= owner.displayname %></a>
    </h2>
    <h3>@<a href="/<%= owner.username %>"><%= owner.username %></a>
        <% } else { %>
    </h3>
    <h2>
        @<a href="/<%= owner.username %>"><%= owner.username %></a>
    </h2>
    </h3>
    <% } %>
    <div>
        <p class="postbody" id="postbody">
            <%= post.body.toString() %>
        </p>
        <% if(post.media == true) { %>
        <img class="postimage" src="/usergenerated/images/<%= post._id %>" loading="lazy"><br>
        <span>
            <a href="/usergenerated/images/<%= post._id %>" download class="postbody smalltext">Download Image</a>
        </span><br><br>
        <% } %>
    </div>
    <button onclick="window.location='/account/new?text=<%- encodeURIComponent(post.body) %>&repost=true'" type="button"
        class="postrepost button">Repost</button>
    <span id="likebutton_<%= post._id %>" class="right">

    </span>
    <button class="button"><%= post.date.toLocaleString() %></button>
    <% if(post.repost == 'true') { %>
    <button class="button">This Is a Repost</button>
    <% } else {} %>
</div>
<script>
    haveiliked('likebutton_<%= post._id %>', '<%= post.likes.length %>', '<%= post._id %>',
        '<%= loggedin %>')
</script>
<div class="postdiv">
    <h2 class="header" id="comments">Comments:</h2>
</div>
<div>
    <form action="/comment/new" method="POST">
        <input name="body" type="text" style="width:30%" autocomplete="off" class="postcommentinput input section"
            required="required" placeholder="Thoughts...">
        <input name="parentid" type="text" style="width:0%" class="hidden" value="<%= post._id %>" required="required">
        <button type="submit" class="postcomment button">Post Comment</button>
    </form>
</div>
<br>
<div>
    <% if(comments.length == 0) { %>
    <p class="headerred">There are no comments :(</p>
    <% } else { %>
    <% for(var i = 0; i < comments.length; i++) { %>
    <div class="commentcontainer">
        <div class="postdiv">
            <p class="commentsowner">
                <a class="postownerlink" href="/account/<%= comments[i].owner %>"
                    id="comment_<%= i %>_<%= comments[i].owner %>">View Poster</a>
            </p>
            <p class="commentsbody"><%= comments[i].body %></p>
            <button class="button"><%= comments[i].date.toLocaleString() %></button>
        </div>
    </div>
    <script>
        getusername("comment_<%= i %>_<%= comments[i].owner %>", "<%= comments[i].owner %>")
        haveiliked('likebutton_<%= post._id %>', '<%= post.likes.length %>', '<%= post._id %>', '<%= loggedin %>')
    </script>
    <% } %>
    <% } %>
</div>
<script>
    replacepostlinks('postbody')
</script>