<style>
    .postcomment {
        display: inline !important;
        margin-left: 0;
    }

    .postcommentinput {
        display: inline !important;
        margin-right: 0;
        max-width: 375px;
    }
</style>
<div class="postdiv">
    <br>
    <% if(moderator == true) { %>
    <% if(post.approved == true) { %>
    <button class="button" onclick=" removepost('<%= post._id %>')" type="button">Mod: Remove Post</button>
    <% } %>
    <% if(post.sensitive == true) { %>
    <button class="button" onclick=" removesensitive('<%= post._id %>')" type="button">Mod: Remove Sensitive
        Marking</button>
    <% } else if(post.approved == true) { %>
    <button class="button" onclick=" approvesensitivepost('<%= post._id %>')" type="button">Mod: Change to
        Sensitive</button>
    <% } %>
    <% if(post.approved == false && post.sensitive == false) { %>
    <button class="button" onclick=" removepost('<%= post._id %>')" type="button">Mod: Remove Post</button>
    <button class="button" onclick=" approvepost('<%= post._id %>')" type="button">Mod: Approve Post</button>
    <button class="button" onclick=" approvesensitivepost('<%= post._id %>')" type="button">Mod: Approve Post as
        Sensitive</button>
    <% } %>
    <br><br>
    <% } %>
    <% if (post.approved == true) { %>
    <span class="commentsmeta right">
        <button type="button" class="postreport button">Approved</button>
    </span>
    <% } else { if (post.reported == true) { %>
    <span class="commentsmeta right">
        <button type="button" class="postreport button">Under Review</button>
    </span>
    <% } else { %>
    <span class="commentsmeta right">
        <button onclick="window.location='/report?post=<%= post._id %>'" type="button" class="postreport button"><a
                class="nostyle" href="/report?post=<%= post._id %>">Report</a></button>
    </span>
    <% }} %>

    <span class="idcard">
        <img id="pfp_<%= post.owner %>" src="/account/<%= post.owner %>/pfp" class="left pfp"
            style="margin-right:5px;width: 45px; height: 45px; border-radius: 25px;overflow:hidden">
        <script>
            getpfp('pfp_<%= post.owner %>', '<%= post.owner %>')
        </script>
        <% if(!owner.displayname == "") { %>
        <span>
            <a class="header nopadmar" href="/<%= owner.username %>"><%= owner.displayname %></a><br>
        </span>
        <span>
            <a class="headerred nopadmar" style="font-size: 18px;"
                href="/<%= owner.username %>">@<%= owner.username %></a>
            <% } else { %>
        </span>
        <span>
            <a class="headerred nopadmar" href="/<%= owner.username %>">@<%= owner.username %></a>
            <br><br>
        </span>
        <% } %>
    </span>
    <div>
        <pre class="postbody" id="postbody">
<%= post.body %>
        </pre>
        <% if(post.media == true) { %>
        <img class="postimage" id="img_<%= post._id %>" src="" loading="lazy"><br>
        <script>
            getmedia('img_<%= post._id %>', '<%= post._id %>')
        </script>
        <span>
            <a href="/usergenerated/images/<%= post._id %>" download class="postbody smalltext">Download Image</a>
        </span><br><br>
        <% } %>
    </div>
    <button onclick="share('<%= post._id %>')" type="button" class="postshare button">Share</button>
    <button onclick="window.location='/account/new?text=<%- encodeURIComponent(post.body) %>&repost=true'" type="button"
        class="postrepost button">Repost</button>
    <span id="likebutton_<%= post._id %>" class="right">

    </span>
    <button class="button"><%= post.date.toLocaleString() %></button>
    <% if(post.repost == 'true') { %>
    <button class="button">This Is a Repost</button>
    <% } else {} %>
</div>
<script>
    haveiliked('likebutton_<%= post._id %>', '<%= post.likes.length %>', '<%= post._id %>',
        '<%= loggedin %>')
</script>
<div class="postdiv">
    <h2 class="header" id="comments">Comments:</h2>
</div>
<div>
    <form action="/comment/new" method="POST">
        <input name="body" type="text" style="width:60%" autocomplete="off" class="postcommentinput input section"
            required="required" placeholder="Thoughts...">
        <input name="parentid" type="text" style="width:0%" class="hidden" value="<%= post._id %>" required="required">
        <button type="submit" class="postcomment button">Post</button>
    </form>
</div>
<br>
<div>
    <% if(comments.length == 0) { %>
    <p class="headerred">There are no comments :(</p>
    <% } else { %>
    <% for(var i = 0; i < comments.length; i++) { %>
    <% if(comments[i].reply == true) {} else { %>
    <div class="commentcontainer">
        <div class="postdiv">
            <p class="commentsowner">
                <a class="postownerlink" href="/account/<%= comments[i].owner %>"
                    id="comment_<%= i %>_<%= comments[i].owner %>">View Poster</a>
            </p>
            <p class="commentsbody" id="comments_<%= comments[i]._id %>"><%= comments[i].body %></p>
            <button class="button"><%= comments[i].date.toLocaleString() %></button>
            <button class="button"
                onclick="showreplies('comment_replies_<%= comments[i]._id %>', '<%= comments[i]._id %>')">Show
                Replies</button>
            <button class="button right"
                onclick="replycomment('comment_reply_box_<%= comments[i]._id %>')">Reply</button>
            <div class="commentcontainer hidden" id='comment_reply_box_<%= comments[i]._id %>'>
                <br>
                <div class="expandcommentdiv">
                    <form action="/comment/reply" method="POST">
                        <input name="body" type="text"
                            style="width:100%;padding-top:5px;margin:5px;height:20px;margin-left: 0;max-width: 100%;"
                            autocomplete="off" class="postcommentinput input section" required="required"
                            placeholder="Thoughts...">
                        <input name="parentid" type="text" style="width:0%" class="hidden" value="<%= post._id %>"
                            required="required">
                        <input name="parent" type="text" style="width:0%" class="hidden" value="<%= comments[i]._id %>"
                            required="required">
                        <br><bR>
                        <div class="">
                            <button type="submit" class="postcomment button">Post</button>
                            <button type="button" class="postcomment button"
                                onclick="replycommenthide('comment_reply_box_<%= comments[i]._id %>')">Hide</button>

                        </div>
                    </form>
                </div>
            </div>
            <div id="comment_replies_<%= comments[i]._id %>">

            </div>
        </div>
    </div>
    <script>
        replacepostlinks('comments_<%= comments[i]._id %>')
        getusername("comment_<%= i %>_<%= comments[i].owner %>", "<%= comments[i].owner %>")
        haveiliked('likebutton_<%= post._id %>', '<%= post.likes.length %>', '<%= post._id %>', '<%= loggedin %>')
    </script>
    <% }} %>
    <% } %>
</div>
<script>
    replacepostlinks('postbody')
</script>