<% if(owner.displayname == "") { %>
<h2><a href="/<%= owner.username %>"><%= owner.displayname %></a>
    <% if(post.repost == 'true') { %>
    <span class="repostalert">(repost)</span>
    <% } else {} %></h2>
<h3>@<a href="/<%= owner.username %>"><%= owner.username %></a></h3>
<% } else { %>
<h2>@<a href="/<%= owner.username %>"><%= owner.username %></a>
    <% if(post.repost == 'true') { %>
    <span class="repostalert">(repost)</span>
    <% } else {} %></h2>
<% } %>
<h6>
    <% if(owner.premium == true) { %><span>Premium</span><% } %>
    <% if(owner.developer == true) { %><span><%= name %> Developer</span><% } %>
    <% if(owner.staff == true) { %><span><%= name %> Staff</span><% } %>
    <% if(owner.betatester == true) { %><span>Beta Tester</span><% } %>
    <% if(owner.bot == true) { %><span>Bot Account</span><% } %>
</h6>
<div>
    <p class="postbody" id="postbody">
        <%= post.body.toString() %>
    </p>
    <p class="postmeta"><%= post.date.toLocaleString() %></p>
</div>
<form action="/comment/new" method="POST">
    <input name="body" type="text" style="width:30%" autocomplete="off" required>
    <input name="parentid" type="text" style="width:0%" class="hidden" value="<%= post._id %>" required>
    <button type="submit">Comment</button>
</form>
<h2>Comments:</h2>
<div id="comments">
    <hr>
    <% for(var i = 0; i < comments.length; i++) { %>
    <div class="commentcontainer">
        <div class="commentsdiv">
            <p class="commentsowner">@<a class="postownerlink" href="/account/<%= comments[i].owner %>"
                    id="comment_<%= i %>_<%= comments[i].owner %>">View
                    Poster</a>
            </p>
            <p class="commentsbody"><%= comments[i].body %></p>
            <p class="commentsmeta"><%= comments[i].date.toLocaleString() %></p>
        </div>
        <hr>
    </div>
    <script>
        getusername("comment_<%= i %>_<%= comments[i].owner %>", "<%= comments[i].owner %>")
    </script>
    <% } %>
</div>
<script>
    replacepostlinks('postbody')
</script>