<% if(owner.displayname == "") { %>
<h2><a href="/<%- owner.username %>"><%- owner.displayname %></a></h2>
<h3>@<a href="/<%- owner.username %>"><%- owner.username %></a></h3>
<% } else { %>
<h2>@<a href="/<%- owner.username %>"><%- owner.username %></a></h2>
<% } %>
<p class="postbody" id="postbody"><%- post.body %></p>
<p class="postmeta"><%- post.date.toLocaleString() %></p>
<form action="/comment/new" method="POST">
    <input name="body" type="text" style="width:30%" autocomplete="off" required>
    <input name="parentid" type="text" style="width:0%" class="hidden" value="<%- post._id %>" required>
    <button type="submit">Comment</button>
</form>
<h2>Comments:</h2>
<div id="comments">
    <hr>
    <% for(var i = 0; i < comments.length; i++) { %>
    <div class="commentcontainer">
        <div class="commentsdiv">
            <p class="commentsowner">@<a class="postownerlink" href="/account/<%- comments[i].owner %>"
                    id="comment_<%- i %>_<%- comments[i].owner %>">View
                    Poster</a>
            </p>
            <p class="commentsbody"><%= comments[i].body %></p>
            <p class="commentsmeta"><%= comments[i].date.toLocaleString() %></p>
        </div>
        <hr>
    </div>
    <script>
        getusername("comment_<%- i %>_<%- comments[i].owner %>", "<%- comments[i].owner %>")
    </script>
    <% } %>
</div>
<script>
    replacehashtags('postbody')
</script>