<div class="bannerimg">
    <img class="banner" src="<%= user.banner %>" loading="lazy" style="width:100%;height: auto">
</div>
<div class="pfpimage">
    <img class="pfp" src="<%= user.pfp %>" loading="lazy">
</div>
<br>
<div>
    <h3>
        <% if(user.displayname == "" || user.displayname == null || !user.displayname) { %>
        <h2 class="headerred"><span>@<%= user.username %></span></h2>
        <% } else { %>
    </h3>
    <h2 class="header nobottompadmar"><%= user.displayname %></h2><br>
    <h4>
        <span class="headerred">@<%= user.username %></span>
        <% } %>
        <span>
            <% if(user.premium == true) { %>
            <span>Premium</span>
            <% } %>
            <% if(user.developer == true) { %>
            <span class="devbadge"><img width="15px" style="padding: 0;padding-top:5px;"
                    src="/img/icons/dev_badge_2.svg"></span>
            <% } %>
            <% if(user.staff == true) { %>
            <span><%= name %>
                Staff</span>
            <% } %>
            <% if(user.betatester == true) { %>
            <span>Beta Tester</span>
            <% } %>
            <% if(user.bot == true) { %>
            <span>Bot Account</span>
            <% } %>
        </span>
    </h4>
</div>
<div class="section">
    <p>
        <a href="<%= user.username %>/following">Following:
            <span><%= user.following.length %></span></a> - Followers:
        <span><%= followers %></span>
    </p>
    <% if (sameuser == true) { %>
    <a href="/account/edit">Edit Account</a>
    <% } %>
    <% if (sameuser == false) { %>
    <% if(follows == false) { %>
    <form action="/follow/new" method="POST">
        <input type="text" name="username" value="<%= user._id %>" class="hidden">
        <button type="submit" class="button">Follow</button>
    </form>
    <% } else { %>
    <form action="/follow/remove" method="POST">
        <input type="text" name="username" value="<%= user._id %>" class="hidden">
        <button class="button" type="submit">Unfollow</button>
    </form>
    <% }} %>
    <p>
        <b>Bio:
        </b>
        <span><%= user.description %></span>
    </p>
</div>
<h2 class="noheader">Posts:</h2>
<div id="posts">
    <% for(var i = 0; i < posts.length; i++) { %>
    <div class="postcontainer">
        <div class="postdiv">
            <% if(posts[i].sensitive == true) { %>
            <div class="sensitivepost" style="cursor: pointer;" onclick="window.location='/s/<%= posts[i]._id %>'">
                <span class="postownerlink">This post contains edgy material, click to view at your own
                    risk. A moderator has approved it.</span>
            </div>
            <% } else { %>
            <div style="cursor: pointer;" onclick="window.location='/s/<%= posts[i]._id %>'">
                <% if (posts[i].approved == true) { %>
                <span class="commentsmeta right">
                    <button type="button" class="postreport button">Approved</button>
                </span>
                <% } else { if (posts[i].reported == true) { %>
                <span class="commentsmeta right">
                    <button type="button" class="postreportbutton button">Under Review</button>
                </span>
                <% } else { %>
                <span class="commentsmeta right">
                    <button onclick="window.location='/report?post=<%= posts[i]._id %>'" type="button"
                        class="postreport button"><a class="nostyle"
                            href="/report?post=<%= posts[i]._id %>">Report</a></button>
                </span>
                <% }} %>
                <p class="postowner">
                    <a class="postownerlink" href="/<%= user.username %>">
                        @<%= user.username %>
                    </a>
                    <% if(posts[i].repost == 'true') { %>
                    <span class="repostbadge">Repost</span>
                    <% } else {} %>
                </p>
                <p class="postbody" id="post_<%= posts[i]._id %>">
                    <%= posts[i].body %>
                </p>
                <% if(posts[i].media == true) { %>
                <img class="postimage" src="/usergenerated/images/<%= posts[i]._id %>" loading="lazy"><br>
                <span>
                    <a href="/usergenerated/images/<%= posts[i]._id %>" download class="postbody smalltext">Download
                        Image</a>
                </span><br><br>
                <% } %>
                <!--<p class="postmeta">
                    <%= posts[i].date.toLocaleString() %>
                </p>-->
            </div>
            <div class="post_bottom_buttons">
                <span class="seeallcommentsbutton">
                    <button type="button" onclick="window.location='/s/<%= posts[i]._id %>#comments'" class="button">See
                        All
                        Comments</button>
                </span>
                <span class="right">
                    <span class="modbuttons">
                        <% if(moderator == true) { if(posts[i].approved == true) { %>
                        <button onclick="removepost('<%= posts[i]._id %>')" type="button" class="button">Mod: Remove
                            Post</button>
                        <% } else { %>
                        <button onclick=" removepost('<%= posts[i]._id %>')" type="button" class="button">Mod:
                            Remove
                            Post</button>
                        <button onclick=" approvepost('<%= posts[i]._id %>')" type="button" class="button">Mod:
                            Approve
                            Post</button>

                        <% }} %>
                    </span>
                    <button
                        onclick="window.location='/account/new?text=<%- encodeURIComponent(posts[i].body) %>&repost=true'"
                        type="button" class="postrepost button">Repost</button>
                    <span id="likebutton_<%= posts[i]._id %>">

                    </span>
                </span>
                <form action="/comment/new" method="POST" class="left">
                    <input class="postcommentinput" name="body" type="text" style="width:63%" autocomplete="off"
                        required placeholder="Thoughts...">
                    <input name="parentid" type="text" style="width:0%" class="hidden" value="<%= posts[i]._id %>"
                        required="required">
                    <button type="submit" class="postcomment button">Comment</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
    <script>
        replacepostlinks('post_<%= posts[i]._id %>')
        haveiliked('likebutton_<%= posts[i]._id %>', '<%= posts[i].likes.length %>', '<%= posts[i]._id %>',
            '<%= loggedin %>')
    </script>
    <% } %>
</div>