<div class="bannerimg">
    <img class="banner" src="<%= user.banner %>" loading="lazy" style="width:100%;height: auto">
</div>
<div class="pfpimage">
    <img class="pfp" src="<%= user.pfp %>" loading="lazy">
</div>
<br>
<div>
    <h3>
        <% if(user.displayname == "" || user.displayname == null || !user.displayname) { %>
        <h2 class="headerred"><span>@<%= user.username %></span></h2>
        <% } else { %>
    </h3>
    <h2 class="header nobottompadmar"><%= user.displayname %></h2><br>
    <h4>
        <span class="headerred notoppadmar">@<%= user.username %></span>
        <% } %>
        <span>
            <% if(user.verified == true) { %>
            <span title="Verified User">
                <img width="15px" style="padding: 0;padding-top:5px;"
                    src="https://static-cdn.siddes.com/img/icons/verified.png">
            </span>
            <% } %>
            <% if(user.premium == true) { %>
            <span title="Premium User">
                <img width="15px" style="padding: 0;padding-top:5px;"
                    src="https://static-cdn.siddes.com/img/icons/premium.png">
            </span>
            <% } %>
            <% if(user.developer == true) { %>
            <span title="Developer">
                <img width="15px" style="padding: 0;padding-top:5px;"
                    src="https://static-cdn.siddes.com/img/icons/developer.png">
            </span>
            <% } %>
            <% if(user.staff == true) { %>
            <span title="Staff">
                <img width="15px" style="padding: 0;padding-top:5px;"
                    src="https://static-cdn.siddes.com/img/icons/staff.png">
            </span>
            <% } %>
            <% if(user.betatester == true) { %>
            <span title="Beta Tester">
                <img width="15px" style="padding: 0;padding-top:5px;"
                    src="https://static-cdn.siddes.com/img/icons/beta.png">
            </span>
            <% } %>
            <% if(user.bot == true) { %>
            <span>Bot Account</span>
            <% } %>
        </span>
    </h4>
</div>
<div>
    <p class="section">
        <a class="accountlinks" href="/<%= user.username %>/following">Following:
            <span><%= user.following.length %></span></a> - Followers:
        <span><%= followers %></span>
    </p>
    <% if (sameuser == true) { %>
    <a class="accountlinks section" href="/account/edit">Edit Account</a>
    <% } %>
    <% if (sameuser == false) { %>
    <% if(follows == false) { %>
    <form action="/follow/new" method="POST" class="section">
        <input type="text" name="username" value="<%= user._id %>" class="hidden">
        <button type="submit" class="button">Follow</button>
        <button onclick="adddirect('<%= user._id %>')" class="button" type="button">Message</button><br>
    </form>
    <% } else { %>
    <form action="/follow/remove" method="POST" class="section">
        <input type="text" name="username" value="<%= user._id %>" class="hidden">
        <button class="button" type="submit">Unfollow</button>
        <button onclick="adddirect('<%= user._id %>')" class="button" type="button">Message</button><br>
    </form>
    <% }} %>
    <p class="section">
        <b>Bio:
        </b>
        <span class="biotext"><%= user.description %></span>
    </p>
    <span class="section">
        <% if(moderator == true) { %>
        <% if(user.uploadbanned == true) { %>
        <button class="button" onclick="removeuploadban('<%= user._id %>')">Mod: Remove Upload Ban</button>
        <% } else { %>
        <button class="button" onclick="uploadban('<%= user._id %>')">Mod: Upload Ban</button>
        <% } %>
        <% } %>
        <% if(admin == true) { %>
        <% if(user.suspended == true) { %>
        <button class="button" onclick="unsuspend('<%= user._id %>')">Admin: Unsuspend Account</button>
        <% } else { %>
        <button class="button" onclick="suspend('<%= user._id %>')">Admin: Suspend Account</button>
        <% } %>
        <% } %>
    </span>
</div>
<% if(user.suspended == true) { %>
<h3 class="headerred">Suspended</h3>
<p class="section">This account (@<%= user.username %>) has been suspended.</p>
<% } else { %>
<span id="userpostsection">
    <h2 class="noheader">Posts:</h2>
    <%- include('../partials/posts') %>
    <br><br>
    <div style="display: flex;justify-content: center;" class="postdiv">
        <style>
            .pagination {
                padding-left: 10px;
                padding-right: 10px;
                margin: 5px;
            }
        </style>
        <% if(page == 0) { %>
        <button onclick="window.location='/<%= user.username %>/<%= page-1 %>'" disabled
            class="button pagination">...</button>
        <% if (lastpage == true ) { %>
        <button onclick="window.location='/<%= user.username %>/<%= eval(page)+1 %>'" class="button pagination"
            disabled>...</button>
        <% } else { %>
        <button onclick="window.location='/<%= user.username %>/<%= eval(page)+1 %>'"
            class="button pagination"><%= eval(page)+2 %></button>
        <% } %>
        <% } else if (lastpage == true ) { %>
        <button onclick="window.location='/<%= user.username %>/<%= page-1 %>'"
            class="button pagination"><%= page %></button>
        <button onclick="window.location='/<%= user.username %>/<%= eval(page)+1 %>'" class="button pagination"
            disabled>...</button>
        <% } else { %>
        <button onclick="window.location='/<%= user.username %>/<%= page-1 %>'"
            class="button pagination"><%= page %></button>
        <button onclick="window.location='/<%= user.username %>/<%= eval(page)+1 %>'"
            class="button pagination"><%= eval(page)+2 %></button>
        <% } %>
    </div>
</span>
<% } %>