<h3 class="header nobottompadmar">☞ <%= name %> ☜</h3>
<span class="section">
    <p>This is for anything related to <%= name %> Social Media.</p>
    <h4 class="headerred nobottompadmar">Company</h4>
    <ul class="colwhite">
        <li><a href="/company/about">About</a></li>
        <li><a href="/company/analytics">Analytics</a></li>
        <li><a href="/company/status">Status</a></li>
        <li><a href="/company/jobs">Jobs</a></li>
        <li><a href="/company/roadmap">Roadmap</a></li>
        <li><a href="/company/transparency">Transparency Report</a></li>
        <li><a href="/company/howto">How to Use <%= name %></a></li>
        <li><a href="/company/bugs">Bugs</a></li>
        <li><a href="/company/releases">Releases</a></li>
        <li><a href="/company/brand">Brand Resources</a></li>
        <li><a href="https://media.siddes.com"><%= name %> Media</a></li>
        <li><a href="/company/the-press-sucks">Press Kit</a></li>
    </ul>
    <h4 class="headerred nobottompadmar">Legal</h4>
    <ul class="colwhite">
        <li><a href="/company/tos">Terms of Service</a></li>
        <li><a href="/company/pp">Privacy Policy</a></li>
        <li><a><%= name %> is a registered Tradmark of <%= name %> Media Inc.</a></li>
        <li><a>All resources and images are copyright 2020 to Present <%= name %> Media Inc.</a></li>
        <li><a>We are not responsible for anything you see on our site. If you see something bad, please report it.</a>
        </li>
    </ul>
    <h4 class="headerred nobottompadmar">Other</h4>
    <ul class="colwhite">
        <li><a href="/redirects/github" target="_blank">GitHub</a></li>
        <li><a href="/redirects/instagram" target="_blank">Instagram</a></li>
    </ul>
</span>