<h3 class="header">Database Report</h3>
<div class="section">
    <p>User count: <%= usercount %></p>
    <p>Post count: <%= postcount %></p>
    <p>Comment count: <%= commentcount %></p>
    <p>DM count: <%= directcount %></p>
    <p>Media count: <%= mediacount %></p>
</div>