<h3 class="headerred nobottompadmar">Reports</h3><br>
<p class="noheader"><a href="/mod/toomuch">Too much today</a></p>
<p class="noheader"><a href="/mod/counseling">Get counseling</a></p><br>
<% if(posts.length == 0) { %>
<p class="header">There are no current reports. Yay!</p>
<% } else { %>
<% for(var i = 0; i < posts.length; i++) { %>
<div class="postcontainer">
    <div class="postdiv" style="padding-top: 6px;">
        <div style="cursor: pointer;" onclick="window.location='/s/<%= posts[i]._id %>'">
            <br>
            <h4 class="headerred nobottompadmar nopadmar">Reason: <%= posts[i].reportreason %></h4>
            <p class="postbody" id="post_<%= posts[i]._id %>">
                <%= posts[i].body %>
            </p>
            <% if(posts[i].media == true) { %>
            <img class="postimage" src="/usergenerated/images/<%= posts[i]._id %>" loading="lazy"><br><br>
            <% } %>
        </div>
        <a href="javascript:removepost('<%= posts[i]._id %>')"><button class="button">Remove</button></a>
        <a href="javascript:approvepost('<%= posts[i]._id %>')"><button class="button">Approve</button></a>
        <a href="javascript:approvesensitivepost('<%= posts[i]._id %>')"><button class="button">Approve as
                Sensitive</button></a>
        <!-- <a href="javascript:removeandban('<%= posts[i]._id %>')"><button>Remove and Ban User</button></a> -->
    </div>
</div>
<br>
<script>
    replacepostlinks('post_<%= posts[i]._id %>')
</script>
<% } %><% } %>